# pandas:创建方式

In [56]:
import pandas as pd
import numpy as np
s = pd.Series([1,2,3],index=['a','b','c'])
s

a    1
b    2
c    3
dtype: int64

In [8]:
pd.Series({'a':1,'b':2,'c':3})

a    1
b    2
c    3
dtype: int64

In [20]:
sr = pd.Series(1, index=['a','b','c','d'])
sr

a    1
b    1
c    1
d    1
dtype: int64

# pandas:索引

In [26]:
sr=pd.Series({'a':1,'b':2,'c':3})
sr.loc['a']  #loc 用key来获取

1

In [24]:
sr.iloc[1]  #iloc用索引来获取

2

# pandas:数据对齐,相加

In [38]:
s1 = pd.Series(data=[1,2,3],index=['a','b','c'])
s2 = pd.Series(data=[6,7,8],index=['b','c','d'])
s3=s1.add(s2,fill_value=0)
s3

a     1.0
b     8.0
c    10.0
d     8.0
dtype: float64

# pandas:缺失数据

In [46]:
s3=s1+s2
s3.dropna()  #dropna() 过滤掉值为nan的行
s3.fillna(0)  #fillna() 填充缺失数据
s3.isnull()  #返回布尔数组
s3.notnull()  #返回布尔数组
s3[s3.notnull()]  #返回非空数组

b     8.0
c    10.0
dtype: float64

# pandas:DataFrame

dataframe 是一个表格型的数据结构,含有一组有序的列

In [62]:

nps=np.random.randint(1,100,(4,4))
pd.DataFrame(data=nps)

    0   1   2   3
0  65  32  69  36
1  70  41  90  26
2  21  64  76  47
3  87  36  39   7

In [63]:
pd.DataFrame({'a':[1,2,3],'b':[2,3,4]})

   a  b
0  1  2
1  2  3
2  3  4

In [66]:
df=pd.DataFrame({'a':[1,2,3],'b':[2,3,4]},index=['a1','a2','a3'])
df

    a  b
a1  1  2
a2  2  3
a3  3  4

In [70]:
df.to_csv('./1.csv')  # 数据保存到本地

写入到文件：
to_csv
写入文件函数的主要参数：
sep
na_rep		指定缺失值转换的字符串，默认为空字符串
header=False	不输出列名一行
index=False	不输出行索引一列
cols		指定输出的列，传入列表

其他文件类型：json, XML, HTML, 数据库
pandas转换为二进制文件格式（pickle）:
save
load

In [77]:
df=pd.read_csv('./1.csv')  #本地读取 pd是pandas
df

  Unnamed: 0  a  b
0         a1  1  2
1         a2  2  3
2         a3  3  4

读取文件：从文件名、URL、文件对象中加载数据
read_csv		默认分隔符为csv
read_table	默认分隔符为\t
read_excel	读取excel文件
读取文件函数主要参数：
sep		指定分隔符，可用正则表达式如'\s+'
header=None	指定文件无列名
name		指定列名
index_col	指定某列作为索引
skip_row		指定跳过某些行
na_values	指定某些字符串表示缺失值
parse_dates	指定某些列是否被解析为日期，布尔值或列表

In [79]:
df.T  #行列转换 ,转置

             0   1   2
Unnamed: 0  a1  a2  a3
a            1   2   3
b            2   3   4

In [84]:
df.columns  #列索引
df.values  #获取值数组
df.describe()  #获取快速统计

         a    b
count  3.0  3.0
mean   2.0  3.0
std    1.0  1.0
min    1.0  2.0
25%    1.5  2.5
50%    2.0  3.0
75%    2.5  3.5
max    3.0  4.0

# pandas:dataframe索引和切片

In [92]:
array=np.random.randint(1,100,(4,4))
df=pd.DataFrame(array)
df

    0   1   2   3
0   6  21  72  64
1  11  63  75  10
2  94  39  30  96
3  69   7  85   6

In [100]:
df[0][0]

6

In [104]:
df.loc[0]  #解释为索引
df.iloc[0]  #解释为下标

0     6
1    21
2    72
3    64
Name: 0, dtype: int32

In [113]:
df[1:3][[1,2]]

    1   2
1  63  75
2  39  30

通过标签获取：
df['A']
df[['A', 'B']]
df['A'][0]
df[0:10][['A', 'C']]
df.loc[:,['A','B']]
df.loc[:,'A':'C']
df.loc[0,'A']
df.loc[0:10,['A','C']]
通过位置获取：
df.iloc[3]
df.iloc[3,3]
df.iloc[0:3,4:6]
df.iloc[1:5,:]
df.iloc[[1,2,4],[0,3]]
通过布尔值过滤：
df[df['A']>0]
df[df['A'].isin([1,3,5])]
df[df<0] = 0

# pandas：DataFrame数据对齐与缺失数据
DataFrame对象在运算时，同样会进行数据对齐，行索引与列索引分别对齐。
结果的行索引与列索引分别为两个操作数的行索引与列索引的并集。

DataFrame处理缺失数据的相关方法：
dropna(axis=0,how='any',…)
fillna()
isnull()
notnull()|

# pandas：其他常用方法

pandas常用方法（适用Series和DataFrame）：
mean(axis=0,skipna=False)  #均值
sum(axis=1)  #求和
sort_index(axis, …, ascending)		按行或列索引排序
sort_values(by, axis, ascending)	按值排序
NumPy的通用函数同样适用于pandas

apply(func, axis=0)	将自定义函数应用在各行或者各列上，func可返回标量或者Series
applymap(func)		将函数应用在DataFrame各个元素上
map(func)		将函数应用在Series各个元素上